@mixin ellipsis($line) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

@mixin horizontalScroll($gap, $padding) {
  position: relative;
  overflow-x: scroll;
  display: flex;
  box-sizing: border-box;
  gap: $gap;
  padding: 0 $padding;
  &::-webkit-scrollbar {
    display: none;
  }
}
