// Text Styles
@mixin head1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.015em;
}

@mixin head2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.015em;
}

@mixin title1-700 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.015em;
}

@mixin title1-400 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.015em;
}

@mixin title2-700 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
}

@mixin title2-400 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
}

@mixin body1-700 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
}

@mixin body1-400 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
}

@mixin body2-700 {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.01em;
}

@mixin body2-400 {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.01em;
}

@mixin body3-700 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
}

@mixin body3-400 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
}

@mixin caption1-700 {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.015em;
}

@mixin caption1-400 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.015em;
}

@mixin caption2-700 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.015em;
}

@mixin caption2-400 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.015em;
}

@mixin caption3 {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -0.015em;
}

@mixin badge {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.015em;
}

// Color Styles
$primary-90: #4a4a55;
$primary-80: #560FD8;
$primary-70: #710EDD;
$primary-60: #8C0BE4;
$primary-50: #9E04EA;
$primary-40: #AE3EEF;
$primary-30: #BE65F2;
$primary-20: #D193F6;
$primary-10: #E3BEF9;
$primary-05: #F4E5FC;
$all-black: #000000;
$default-black: #0A0A0A;
$bg-black-21: #212121;
$bg-gray-32: #323232;
$bg-gray-50: #505050;
$disabled-63: #636363;
$disabled-8a: #8A8A8A;
$gray-ab: #ABABAB;
$gray-d0: #D0D0D0;
$gray-e2: #E2E2E2;
$text-white-f2: #F2F2F2;
$all-white: #FFFFFF;
$success: #4FBF69;
$error: #E04848;
$gradation-50: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
$gradation-70: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);

// Effect Styles
$bottom-shadow: 0px -5px 10px rgba(0, 0, 0, 0.05);
$top-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);


